body {
    background-color: rgba(3, 3, 53, 0.959);
    color: rgb(255, 255, 255);
}

#bg {
    width: 100%;
    height: 200vh;
    background-image: url("../img/bg/daniel-josef-AMssSjUaTY4-unsplash.jpg");
    opacity: 50%;
    background-size: cover;
    position: relative;
    padding: 0;
}

#bg2 {
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    position: relative;
    padding: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    border-spacing: 100px;
}

main {
    margin-top: 70px;
}

.icone {
    width: 70px;
    height: 70px;
}

.titre {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 300px;
    top: 40%;
    color: white;
    width: 40%;
}

.photo {
    width: 250px;
    height: 350px;
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 700px;
    right: 0;
    top: 30%;
}

.carousel {
    width: 700px;
    height: 900px;
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 25px;
    top: 20%;
    color: white;
    top: 7%
}

.carousel2 {
    z-index: 1;
    position: absolute;
    text-align: center;
    left: 0;
    right: 25px;
    top: 20%;
    color: white;
    top: 10%
}

#formulaire {
    background-color: rgba(5, 5, 5, 0.8);
    z-index: 1;
    position: absolute;
    left: 0;
    right: 25px;
    top: 10%;
    color: white;
    top: 20%;
}

#vardump {
    margin-top: 100px;
}

.btnProject{
    color: #FFC90E !important; 
    background-color:black !important;
    box-shadow: grey 0px 7px 29px 0px!important;
}
.btnProject:hover{
    color: #f5d256 !important; 
    background-color:rgb(70, 67, 67) !important;
    box-shadow: rgb(162, 162, 161) 0px 7px 29px 0px!important;
}